.about {
    background: $bg;
    padding-top: 20px;
    padding-bottom: 20px;
    animation: background 5s linear infinite both;

    @media screen and (min-width: 768px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.about .container {
    @media screen and (min-width: 1200px) {
        padding-left: 50px;
        padding-right: 50px;
    }
}

.about-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;

    @media screen and (min-width: 768px) {
        gap: 32px;
    }

    @media screen and (min-width: 1200px) {
        gap: 88px;
        flex-wrap: nowrap;
    }
}

.about-list__item {
    max-width: 335px;
    height: 244px;

    @media screen and (min-width: 768px) {
        width: 308px;
    }
}

.about-list__item:hover .about-list__icon {
    transform: scale(1.2);
}

.about-list__item:nth-child(2) {
    position: relative;
}

.about-list__item:nth-child(2)::before {
    display: none;

    @media screen and (min-width: 1200px) {
        display: block;
        content: "";
        border: 1px solid rgba(255, 255, 255, 0.5);
        height: 124px;
        position: absolute;
        top: 60px;
        right: 365px;
    }
}

.about-list__item:nth-child(2)::after {
    display: none;

    @media screen and (min-width: 1200px) {
        display: block;
        content: "";
        border: 1px solid rgba(255, 255, 255, 0.5);
        height: 124px;
        position: absolute;
        top: 60px;
        left: 350px;
    }
}

.about-list__icon {
    fill: $accent;
    transition: transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
}

.about-list__circle {
    width: 62px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    margin-bottom: 22px;
}

.about-list__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    color: $bg-title;
    margin-bottom: 18px;
}

.about-list__text {
    @include text($text-color: $second-color);
    max-width: 308px;
}
