@keyframes slide-in {
    0% {
        transform: translateX(300px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.hide {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.drawer {
    width: 290px;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    top: 0;
    right: 0;
    z-index: 999;
    background-color: $bg;
    transition: 0.25s;

    a {
        color: $bg-title;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        transition: color 0.3s;

        &:hover {
            color: $accent;
        }
    }
}

.cross-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 28px;
    height: 28px;
    top: 20px;
    right: 20px;
    cursor: pointer;
    background-color: transparent;

    &:active svg {
        fill: $accent;
        stroke: $accent
    }
}

.cross {
    width: 28px;
    height: 28px;
    fill: $bg-title;
    stroke: $bg-title;
}

.drawer-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    position: absolute;
    bottom: 26px;
    left: 36px;

    svg {
        width: 24px;
        height: 24px;
        fill: $bg-title;
        cursor: pointer;

        &:hover {
            fill: transparent;
            stroke: $accent;
            transition: 0.3s;
        }

        &:first-child {
            fill: $bg-title;
            stroke: $title;
            stroke-width: 2.6px;
            transition: stroke 0.3s;

            &:hover {
                fill: transparent;
                stroke: $accent;
                transition: 0.3s;
            }
        }
    }
}



@media (min-width: 768px) {
    .drawer {
        a {
            font-weight: 600;
        }
    }
    .cross-btn {
        width: 32px;
        height: 32px;
        top: 24px;
        right: 32px;
    }
}