$bg: hsl(273, 19%, 12%);
$white-primary: hsl(100, 100%, 100%);

.show {
    display: flex !important;
}

.drawer {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: $bg;

    a {
        color: $white-primary;
        font-size: 2rem;
    }
}

.cross {
    position: absolute;
    width: 13px;
    height: 13px;
    top: 33.33px;
    right: 41.33px;
    cursor: pointer;
}