.footer {
    background: $bg;
    padding-top: 32px;
    padding-bottom: 32px;

    @media screen and (min-width: 768px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.footer__content {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px) {
        flex-direction: row;
    }
}

.footer__title {
    max-width: 300px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: $bg-title;
    margin-right: auto;
    margin-bottom: 32px;

    @media screen and (min-width: 768px) {
        font-size: 28px;
        line-height: 1.21;
        margin-bottom: 54px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 62px;
    }
}

.footer__span {
    color: $accent;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-right: auto;

    @media screen and (min-width: 768px) {
        margin-right: 50px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 63px;
    }
}

.footer-contacts__title {
    text-align: left;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    color: $bg-title;
    margin-bottom: 14px;
}

.footer-contacts__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    text-align: left;
    letter-spacing: -0.02em;
    color: $bg-title;
}

.footer__contacts-flex {
    display: flex;
    align-items: center;
    margin-bottom: 32px;

    @media screen and (min-width: 768px) {
        margin-bottom: 50px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 58px;
    }
}

.footer-socials {
    display: flex;
    gap: 14px;

    @media screen and (min-width: 768px) {
        gap: 18px;
    }
}

.footer-socials__icon {
    stroke: $bg-title;
    fill: $bg;
    stroke-width: 1.5px;

    @media screen and (min-width: 768px) {
        stroke-width: 2.6px;
    }
}

// footer pages

.footer-pages {
    display: flex;
    flex-direction: column;
    gap: 18px;
    border-top: 1px solid $second-color;
    padding-top: 32px;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        gap: 24px;
        padding-top: 24px;
    }
}

.footer-pages__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: $bg-title;
}

.footer-pages__link:hover {
    transform: scale(1.05);
}

.footer__contacts-title {
    margin-right: auto;
}
