.footer {
    background: #1E1823;
    padding-top: 32px;
    padding-bottom: 32px;

    @media screen and (min-width: 768px) {
    padding-top: 50px;
    padding-bottom: 50px;
    } 
}

.footer__content {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px) {
    flex-direction: row;
    } 
}

.footer__title {
    max-width: 300px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin-right: auto;
    margin-bottom: 32px;
    
    @media screen and (min-width: 768px) {
    font-size: 28px;
    line-height: 1.21;
    margin-bottom: 54px;
    } 
    
    @media screen and (min-width: 1200px) {
    margin-bottom: 62px;
    }
}

.footer__span {
    color: #FD9222;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-right: auto;

    @media screen and (min-width: 768px) {
    margin-right: 50px;
    } 

    @media screen and (min-width: 1200px) {
    margin-right: 63px;
    } 
}

.footer-contacts__title {
    text-align: left;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    color: #FFFFFF;
    margin-bottom: 14px;
}

.footer-contacts__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    text-align: left;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.footer__contacts-flex {
    display: flex;
    align-items: center;
    margin-bottom: 58px;
}

.footer-socials {
    display: flex;
    gap: 14px;

    @media screen and (min-width: 768px) {
    gap: 18px;
    }
}

.footer-socials__icon {
    stroke: #FFFFFF;
    fill: #1E1823;
    stroke-width: 1.5px;

    @media screen and (min-width: 768px) {
    stroke-width: 2.6px;
    }
}

// footer pages 

.footer-pages {
    display: flex;
    flex-direction: column;
    gap: 18px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 32px;

    @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 24px;
    padding-top: 24px;
    } 
}

.footer-pages__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.footer__contacts-title {
    margin-right: auto;
}
