.products {
    padding-top: 128px;
}

.products-swiper {
    display: flex;
    gap: 18px;
}

.products__title {
    @include section-title();
margin-bottom: 50px;
}

.products__span {
    color: $accent;
}

.products-swiper__slide {
    background: $bg-title;
border: 1px solid $text;
border-radius: 15px;
padding: 32px 20px;
margin-right: 18px;
width: 270px;
}

.products-swiper__slide:last-child {
    margin-right: 0;
}

.products-swiper__photo {
    display: block;
    width: 230px;
    height: 200px;
    margin-bottom: 8px;
}

.products-swiper__title {
    font-weight: 600;
font-size: 18px;
line-height: 1.33;
letter-spacing: -0.02em;
text-transform: uppercase;
color: $title;
text-align: center;
}

.products-swiper__text {
    font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: -0.02em;
color: $text;
text-align: center;
}

.products-swiper__btn {
    font-weight: 600;
font-size: 14px;
line-height: 1.21;
color: $title;
padding: 8px 20px;
background: #FAFAFA;
border: 1px solid $text;
border-radius: 100px;
display: block;
margin-right: auto;
margin-left: auto;
}

