.reviews {
    padding-bottom: 128px;
}

.reviews__title {
    font-weight: 600;
font-size: 24px;
line-height: 1.17;
text-align: center;
letter-spacing: -0.03em;
text-transform: uppercase;
color: #111111;
margin-bottom: 90px;
}

.reviews__span {
    color: #FD9222;
}

.reviews-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
}

.reviews-list__item {
    position: relative;
    padding-top: 56px;
    padding-bottom: 26px;
    width: 360px;
    height: 200px;
    background: #FFFFFF;
border: 1px solid rgba(17, 17, 17, 0.1);
box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
border-radius: 15px;
}

.reviews-list__photo {
    position: absolute;
    top: -45px;
    left: 140px;
    width: 80px;
    height: 80px;
    margin-bottom: 18px;
}

.reviews-list__title {
    font-weight: 600;
font-size: 18px;
line-height: 1.33;
text-align: center;
color: #111111;
margin-bottom: 24px;
}

.reviews-list__text {
    font-weight: 400;
font-size: 14px;
line-height: 1.28;
text-align: center;
letter-spacing: -0.02em;
color: rgba(17, 17, 17, 0.7);
max-width: 312px;
display: flex;
justify-content: center;
margin-right: auto;
margin-left: auto;
}

.reviews__btn {
    border: 1px solid #FD9222;
border-radius: 100px;
font-weight: 600;
font-size: 18px;
line-height: 1.22;
color: #111111;
padding: 14px 40px;
background-color: transparent;
margin-top: 94px;
display: flex;
margin-left: auto;
margin-right: auto;
}

.reviews__btn:hover {
    color: #FFFFFF;
    background: #FD9222;
}