.reviews {
    padding-bottom: 128px;
}

.reviews__title {
    @include section-title();
    margin-bottom: 90px;
}

.reviews__span {
    color: $accent;
}

.reviews-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px; 
    margin-bottom: 32px;

    @media screen and (min-width: 1200px) {
    gap: 28px;
    }  
}

.reviews-list__item {
    position: relative;
    padding-top: 56px;
    padding-bottom: 26px;
    max-width: 340px;
    height: 200px;
    background: $bg-title;
border: 1px solid rgba(17, 17, 17, 0.1);
    box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
    border-radius: 15px;

    @media screen and (min-width: 1200px) {
    width: 360px;
    } 
}

.reviews-list__photo {
    position: absolute;
    top: -45px;
    left: 120px;
    width: 80px;
    height: 80px;
    margin-bottom: 18px;
}

.reviews-list__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
    color: $title;
    margin-bottom: 24px;
}

.reviews-list__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    text-align: center;
    letter-spacing: -0.02em;
    color: $text;
    max-width: 312px;
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

.reviews__btn {
    @include btn($btn-color: $title, $btn-bg: transparent);
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid $accent;
    background-color: transparent;
    margin-top: 50px;
}

.reviews__btn:hover {
    @include btn();
}

.reviews-swiper-pagination {
    margin-left: auto;
    margin-right: auto;
}

.container-swiper {
    // height: 442px;
    width: auto;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: auto;
    margin-top: 20px;
}

.swiper-pagination-bullet {
    width: 13px;
    height: 13px;
}

.swiper-pagination-bullet-active {
    transition: background 1250ms var(--transition-type);
    transition: width 250ms var(--transition-type);
}
.swiper-pagination-bullet-active {
    background: #fd9222;
    width: 28px;
    height: 13px;
    border-radius: 25px;
}

.swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    margin-top: 32px;
  }

  .reviews-swiper {
    margin-right: auto;
    margin-left: auto;
  }
