$orange-primary: hsl(31, 98%, 56%);
$grey-primary: hsl(0, 0%, 93%);
$white-primary: hsl(100, 100%, 100%);

.sub-modal {
    max-width: 538px;
    height: 412px;
    border-radius: 15px;
    margin: 0 auto;
    padding-top: 10px;

    img {
        width: 100%;
        height: 196px;
        border: 0;
        border-radius: 25px 25px 0 0;
    }
}

.title-container {
    width: 350px;
    padding: 40px 0 0 40px;

    p {
        font-size: 1.5rem;
        font-weight: 600;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;

        span {
            color: $orange-primary;
        }
    }
}

.i-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 45px 40px 40px 40px;

    input {
        width: 313px;
        height: 52px;
        border: 1px solid $grey-primary;
        border-radius: 25px;

        &:focus {
            outline: none;
        }
    }

    button {
        width: 137px;
        height: 52px;
        color: $white-primary;
        background-color: $orange-primary;
        border-radius: 100px;
        transition: 0.3s;

        &:hover {
            color: $orange-primary;
            background-color: $pink-primary;
        }
    }
}

@media (max-width: 375px) {
    .sub-modal {
        width: 311px;
        height: 350px;

        img {
            height: 169px;
        }
    }

    .title-container {
        padding: 32px 24px 0 24px;

        p {
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
        }
    }

    .i-btn-container {
        input {
            width: 163px;
            height: 45px;
        }

        button {
            width: 100px;
            height: 45px;
        }
    }
}