$orange-primary: hsl(31, 98%, 56%);
$pink-primary: hsl(35, 83%, 93%);

.orange {
    color: $orange-primary;
}

.top-seller {
    padding: 128px 0;
}

.img-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 50px;

    img:last-child {
        display: none;
    }

    img { 
        border-radius: 10px;
    }
}

.text-btn-container {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 32px 200px 0 200px;

    p {
        width: 400px;
    }

    button {
        width: 9.375rem;
        height: 2.5rem;
        border: 0;
        border-radius: 100px;
        color: $white-primary;
        transition: 0.3s;
        background-color: $orange-primary;

        &:hover {
            color: $orange-primary;
            background-color: $pink-primary;
        }
    }
}

@media (min-width: 1200px) {
    .img-container {
            img:last-child {
                display: block;
            } 
    }
}

@media (min-width: 768px) {
    .img-container > img {
        width: 344px;
        height: auto;
    }

    .text-btn-container {
        button {
            width: 162px;
            height: 50px;
        }
    }
}

@media (max-width: 700px) {
    .text-btn-container {
        padding: 32px 50px 0 50px;
    }
}

@media (min-width: 375px) {
    .img-container > img {
        width: 335px;
    }

    .text-btn-container {
        button {
            width: 120px;
            height: 41px; 
        }
    }
}