$bg: hsl(273, 19%, 12%);
$white-primary: hsl(100, 100%, 100%);

.drawer {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: $bg;

    a {
        color: $white-primary;
        font-size: 2rem;
        text-decoration: underline 0.3rem transparent;
    }

    a:hover {
        text-decoration-color: $white-primary;
    }
}

.cross {
    position: absolute;
    width: 13px;
    height: 13px;
    right: 20px;
    top: 20px;
}

@media (min-width: 1000px) {
    .drawer {
        display: none;
    }
}
