<div data-buy-modal class="buy-modal is-hidden">
    <button data-close-buy-modal class="buy-modal__cross">
        <svg class="buy-modal__icon"><use></use></svg>
    </button>
    <h2 class="buy-modal__title"><span>Buy</span>now</h2>
    <ul class="buy-modal__list">
        <li class="buy-modal__item">
            <img
                class="buy-modal__photo"
                src="./images/desktop/buy-modal-pic1@1x.png"
                alt="100g"
            /><button class="g-btn">100 g</button>
        </li>
        <li class="buy-modal__item">
            <img
                class="buy-modal__photo"
                src="./images/desktop/buy-modal-pic2@1x.png"
                alt="200g"
            /><button class="g-btn">200 g</button>
        </li>
        <li class="buy-modal__item">
            <img
                class="buy-modal__photo"
                src="./images/desktop/buy-modal-pic3@1x.png"
                alt="300g"
            /><button class="g-btn">300 g</button>
        </li>
    </ul>
    <ul class="buy-form">
        <li class="buy-form__item">
            <p class="buy-form__text">Personal information</p>
            <input placeholder="Name" type="text" class="buy-form__filling buy-form__name" />
            <input placeholder="Surname" type="text" class="buy-form__filling" />
        </li>
        <li class="buy-form__item">
            <p class="buy-form__text">Email</p>
            <input placeholder="Enter your email" type="text" class="buy-form__filling" />
        </li>
        <li class="buy-form__item">
            <p class="buy-form__text">Phone number</p>
            <input placeholder="Phone number" type="text" class="buy-form__filling" />
        </li>
        <li class="buy-form__item">
            <p class="buy-form__text">Card number</p>
            <input placeholder="Enter card" type="text" class="buy-form__filling" />
        </li>
        <li class="buy-form__item">
            <p class="buy-form__text">Comment</p>
            <input placeholder="Enter text" type="text" class="buy-form__filling" />
        </li>
    </ul>
    <button data-hide-buy-modal class="buy-modal__btn">Submit</button>
</div>
