<div data-buy-modal class="buy-modal is-hidden">
    <button data-close-buy-modal class="buy-modal__cross">
        <svg class="buy-modal__icon"><use></use></svg>
    </button>
    <h2 class="buy-modal__title"><span>Buy</span>now</h2>
    <ul class="buy-modal__list">
        <li class="buy-modal__item">
            <img alt="100g" /><button>100 g</button>
        </li>
        <li class="buy-modal__item">
            <img alt="200g" /><button>100 g</button>
        </li>
        <li class="buy-modal__item">
            <img alt="300g" /><button>100 g</button>
        </li>
    </ul>
    <ul class="buy-form">
        <li class="buy-form__item">
            <input type="text" class="buy-form__filling" />
        </li>
        <li class="buy-form__item">
            <input type="text" class="buy-form__filling" />
        </li>
        <li class="buy-form__item">
            <input type="text" class="buy-form__filling" />
        </li>
        <li class="buy-form__item">
            <input type="text" class="buy-form__filling" />
        </li>
        <li class="buy-form__item">
            <input type="text" class="buy-form__filling" />
        </li>
    </ul>
    <button data-hide-buy-modal class="buy-modal__btn">Submit</button>
</div>
