<div class="drawer hide">
    <button class="cross-btn">
        <svg class="cross">
            <use href="./images/symbol-defs.svg#cross"></use>
        </svg>
    </button>
    <a href="#" class="orange mobile-menu-link">Home</a>
    <a href="#" class="mobile-menu-link">How it's made?</a>
    <a href="#" class="mobile-menu-link">Our Products</a>
    <a href="#" class="mobile-menu-link">Top sellers</a>
    <a href="#" class="mobile-menu-link">Chocolate is loved</a>
    <div class="drawer-socials">
        <svg>
            <use href="./images/symbol-defs.svg#instagram"></use>
        </svg>
        <svg>
            <use href="./images/symbol-defs.svg#twitter"></use>
        </svg>
    </div>
</div>
