<div data-explore-modal class="explore-modal is-hidden">
    <button data-close-explore-modal class="explore-modal__close">
        <svg class="explore-modal__cross" width="28" height="28"><use href="./images/symbol-defs.svg#explore-cross"></use></svg>
    </button>
    <h2 class="explore-modal__title">
        Explore our
        <span class="explore-modal__span"><br />new chocolate</span> first!
    </h2>
    <div class="explore-modal__content">
        <input
            type="text"
            placeholder="Enter your email"
            class="explore-modal__filling"
        />
        <button data-hide-explore-modal class="explore-modal__btn">
            Submit
        </button>
    </div>
</div>
