<footer class="footer">
    <div class="footer__content">
        <h2 class="footer__title">
            <span class="footer__span">Chocolate</span> a delicious cure for a
            bad day
        </h2>
        <div class="footer__contacts-flex">
        <h3 class="footer-contacts__title">Contact us</h3>
        <ul class="footer-contacts">
            <li class="footer-contacts__item">
                <a href="tel:+380684439426" class="footer-contacts__link"
                    >+380 (68) 443-94-26</a
                >
            </li>
            <li class="footer-contacts__item">
                <a
                    href="mailto:simplychoc@gmail.com"
                    class="footer-contacts__link"
                    >simplychoc@gmail.com</a
                >
            </li>
        </ul>
        </div>
        <ul class="footer-socials">
            <li class="footer-socials__item">
                <a href="#" class="footer-socials__link">
                    <svg width="24" height="24" class="footer-socials__icon">
                        <use href="./images/symbol-defs.svg#instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="footer-socials__item">
                <a href="#" class="footer-socials__link">
                    <svg width="24" height="24" class="footer-socials__icon">
                        <use href="./images/symbol-defs.svg#twitter"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
    <ul class="footer-pages">
        <li class="footer-pages__item">
            <a class="footer-pages__link" href="/">Home</a>
        </li>
        <li class="footer-pages__item">
            <a class="footer-pages__link" href="#recipe">How it's made?</a>
        </li>
        <li class="footer-pages__item">
            <a class="footer-pages__link" href="#products">Our Products</a>
        </li>
        <li class="footer-pages__item">
            <a class="footer-pages__link" href="#sellers">Top sellers</a>
        </li>
        <li class="footer-pages__item">
            <a class="footer-pages__link" href="#reviews">Chocolate is loved</a>
        </li>
    </ul>
</footer>