<header>
    <img src="./images/logo.png" alt="logo" />
    <div class="link-container">
        <a><p>Home</p></a>
        <a><p>How it's made?</p></a>
        <a><p>Our Products</p></a>
        <a><p>Top sellers</p></a>
        <a><p>Chocolate is loved</p></a>
    </div>
    <div class="socials-container">
        <img src="./images/instagram.svg" alt="instagram logo" />
        <img src="./images/twitter.svg" alt="twitter logo" />
    </div>
    <img class="burger" src="./images/burger.svg" alt="burger"></img>
</header>
