<header class="header">
    <div class="container">
        <div class="header__content">
            <a href="/" class="header__logo">
                <span class="header__text">
                    <span class="header__simply">Simply</span>Chocolate
                </span>
                <img
                    class="header__icon"
                    src="./images/desktop/logo.png"
                    alt="logo"
                />
            </a>
            <nav>
                <ul class="pages">
                    <li class="pages__item">
                        <a class="pages__link" href="/">Home</a>
                    </li>
                    <li class="pages__item">
                        <a class="pages__link" href="#recipe">How it's made?</a>
                    </li>
                    <li class="pages__item">
                        <a class="pages__link" href="#products">Our Products</a>
                    </li>
                    <li class="pages__item">
                        <a class="pages__link" href="#sellers">Top sellers</a>
                    </li>
                    <li class="pages__item">
                        <a class="pages__link" href="#reviews"
                            >Chocolate is loved</a
                        >
                    </li>
                </ul>
            </nav>
<ul class="socials">
    <li class="socials__item"><a href="#" class="socials__link"> <svg class="socials__icon" width="24" height="24">
                <use href="./images/symbol-defs.svg#instagram"></use>
            </svg></a></li>
    <li class="socials__item"><a href="#" class="socials__link"> <svg class="socials__icon" width="24" height="24">
                <use href="./images/symbol-defs.svg#twitter"></use>
            </svg></a></li>
</ul>
            <!-- <svg  ><use href="./images/symbol-defs.svg#burger"></use></svg> -->
        </div>
    </div>
</header>
