<header>
    <img src="./images/logo.png" alt="logo" />
    <div class="link-container">
        <a href="#">Home</a>
        <a href="#">How it's made?</a>
        <a href="#">Our Products</a>
        <a href="#">Top sellers</a>
        <a href="#">Chocolate is loved</a>
    </div>
    <div class="socials-container">
       <svg>
        <use href="./images/symbol-defs.svg#instagram"></use>
       </svg>
       <svg><use href="./images/symbol-defs.svg#twitter"></use></svg>
    </div>
    <svg><use href="./images/symbol-defs.svg#burger"></use></svg>
</header>
