<section class="main-container">
    <div class="container">
        <div class="main">
            <p class="main-title">
                Treat yourself or a loved one to our finest ingredients for a
                moment of pure delight!
            </p>
            <ul class="btn-container">
                <li>
                    <button class="hero__btn hero__btn-orange">Buy now</button>
                </li>
                <li>
                    <button class="hero__btn hero__btn-white">How it's made?</button>
                </li>
            </ul>
            <div class="scroll">
                <p class="scroll__text">scroll down</p>
                <a class="scroll__btn" href="#footer">
                <svg class="scroll__icon" width="22" height="22">
                    <use href="./images/symbol-defs.svg#sparrow-down"></use>
                </svg>
            </a>
            </div>
        </div>
    </div>
</section>
