<div class="main-container">
    <div class="main">
        <p class="main-title">
            Treat yourself or a loved one to our finest ingredients for a moment
            of pure delight!
        </p>
        <div class="btn-container">
            <button>Buy now</button>
            <button>How it's made?</button>
        </div>
        <div class="scroll">
            <p>scroll down</p>
            <svg class="icon">
                <use href="./images/symbol-defs.svg#sparrow-down"></use>
            </svg>
        </div>
    </div>
</div>
