<section class="ingredients">
    <div class="container">
    <h2 class="ingredients__title">
        IT ALL ADDS UP TO ONE EXCEPTIONAL
        <span class="ingredients__span">TASTE</span> SENSATION
    </h2>
    <p class="ingredients__text">
        At Simply Chocolate, we believe that the secret to exceptional chocolate
        is in the details. From the sourcing of the finest ingredients to the
        careful crafting of each individual piece, every step of our process
        adds up to one exceptional taste sensation.
    </p>
    <ul class="ingredients-list">
        <li class="ingredients-list__item">
            <img
                class="ingredients-list__photo"
                src="./images/desktop/ing-choco@1x.png"
                alt="chocolate"
            />
            <h3 class="ingredients-list__title">MILK CHOCOCLATE</h3>
            <div class="ingredients-overlay">
                <h2 class="ingredients-overlay__title">Milk chocolate</h2>
                <div class="ingredients-overlay__content">
                <a class="ingredients-overlay__linkor">chocolate</a
                ><a class="ingredients-overlay__linkwh">the benefits</a>
                </div>
                <p class="ingredients-overlay__text">Milk chocolate is a solid chocolate confectionery containing cocoa, sugar and milk. It is the most consumed type of chocolate. Chocolate was originally sold and consumed as a beverage in pre-Columbian times. </p>
            </div>
        </li>
        <li class="ingredients-list__item">
            <img
                class="ingredients-list__photo"
                src="./images/desktop/ing-milk@1x.png"
                alt="milk"
            />
            <h3 class="ingredients-list__title">
                <span class="ingredients-list__span">MILK</span>
            </h3>
           <div class="ingredients-overlay">
                <h2 class="ingredients-overlay__title">MILK</h2>
                <div class="ingredients-overlay__content">
                <a class="ingredients-overlay__linkor">milk</a
                ><a class="ingredients-overlay__linkwh">the benefits</a>
                </div>
                <p class="ingredients-overlay__text">Milk is a white liquid food produced by the mammary glands of mammals. It is the primary source of nutrition for young mammals (including breastfed human infants) before they are able to digest solid food.</p>
            </div>
        </li>
        <li class="ingredients-list__item">
            <img
                class="ingredients-list__photo"
                src="./images/desktop/ing-nuts@1x.png"
                alt="nuts"
            />
            <h3 class="ingredients-list__title">NUTS</h3>
          <div class="ingredients-overlay">
                <h2 class="ingredients-overlay__title">NUTS</h2>
                <div class="ingredients-overlay__content">
                <a class="ingredients-overlay__linkor">nuts</a
                ><a class="ingredients-overlay__linkwh">the benefits</a>
                </div>
                <p class="ingredients-overlay__text">Almonds, pistachios, and walnuts are some types of nuts that contain healthy nutrients. When eaten as part of a nutrient-dense diet, these 9 nuts may offer benefits such as reducing your risk of heart disease. </p>
            </div>
        </li>
        <li class="ingredients-list__item">
            <img
                class="ingredients-list__photo"
                src="./images/desktop/ing-semi-choco@1x.png"
                alt="semi-chocolate"
            />
            <h3 class="ingredients-list__title">
                <span class="ingredients-list__span"
                    >sEMI - SWEET CHOCOLATE</span
                >
            </h3>
           <div class="ingredients-overlay">
                <h2 class="ingredients-overlay__title">Semi-sweet chocolate</h2>
                <div class="ingredients-overlay__content">
                <a class="ingredients-overlay__linkor">sweet chocolate</a
                ><a class="ingredients-overlay__linkwh">the benefits</a>
                </div>
                <p class="ingredients-overlay__text">Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of the best ways to gain an understanding of this type of chocolate is to compare it to a different type of chocolate. </p>
            </div>
        </li>
    </ul>
    </div>
</section>
