<section class="ingredients">
    <h2 class="ingredients__title">IT ALL ADDS UP TO ONE EXCEPTIONAL <span class="ingredients__span">TASTE</span> SENSATION</h2>
    <p class="ingredients__text">At Simply Chocolate, we believe that the secret to exceptional chocolate is in the details. From the sourcing of the finest ingredients to the careful crafting of each individual piece, every step of our process adds up to one exceptional taste sensation.</p>
    <ul class="ingredients-list">
        <li class="ingredients-list__item">
            <img class="ingredients-list__photo" src="./images/desktop/ing-choco@1x.png" alt="chocolate">
            <h3 class="ingredients-list__title">MILK CHOCOCLATE</h3>
        </li>
        <li class="ingredients-list__item">
            <img class="ingredients-list__photo" src="./images/desktop/ing-milk@1x.png" alt="milk">
            <h3 class="ingredients-list__title"><span class="ingredients-list__span">MILK</span></h3>
        </li>
        <li class="ingredients-list__item">
            <img class="ingredients-list__photo" src="./images/desktop/ing-nuts@1x.png" alt="nuts">
            <h3 class="ingredients-list__title">NUTS</h3>
        </li>
        <li class="ingredients-list__item">
            <img class="ingredients-list__photo" src="./images/desktop/ing-semi-choco@1x.png" alt="semi-chocolate">
            <h3 class="ingredients-list__title"><span class="ingredients-list__span">sEMI - SWEET CHOCOLATE</span></h3>
        </li>
    </ul>
</section>