<section id="products" class="products">
  <h2 class="products__title">Our<span class="products__span">Products</span></h2>
    <swiper-container slides-per-view="4" speed="500" loop="true" css-mode="true">
  <swiper-slide><img src="images/desktop/pr-orange@1x.png" alt="orange"></swiper-slide>
  <swiper-slide><img src="images/desktop/pr-apple@1x.png" alt="apple"></swiper-slide>
  <swiper-slide><img src="images/desktop/pr-lime@1x.png" alt="lime"></swiper-slide>
  <swiper-slide><img src="images/desktop/pr-pineapple@1x.png" alt="pineapple"></swiper-slide>
</swiper-container>
</section>