<section id="products" class="products">
    <div class="container">
        <h2 class="products__title">
            Our <span class="products__span">Products</span>
        </h2>
        <swiper-container
            slides-per-view="4"
            speed="500"
            loop="true"
            css-mode="true"
            class="products-swiper"
        >
            <swiper-slide class="products-swiper__slide"
                ><img
                    class="products-swiper__photo"
                    src="images/desktop/pr-orange@1x.png"
                    alt="orange"
                />
                <h3 class="products-swiper__title">Orange</h3>
                <p class="products-swiper__text">Dark chocolate</p>
                <button data-open-modal class="products-swiper__btn">45 UAH</button>
            </swiper-slide>
            <swiper-slide class="products-swiper__slide"
                ><img
                    class="products-swiper__photo"
                    src="images/desktop/pr-apple@1x.png"
                    alt="apple"
                />
                <h3 class="products-swiper__title">APPLE&CRANBERRY</h3>
                <p class="products-swiper__text">Milk chocolate</p>
                <button data-open-modal class="products-swiper__btn">
                    50 UAH
                </button></swiper-slide
            >
            <swiper-slide class="products-swiper__slide"
                ><img
                    class="products-swiper__photo"
                    src="images/desktop/pr-lime@1x.png"
                    alt="lime"
                />
                <h3 class="products-swiper__title">lime&sea salt</h3>
                <p class="products-swiper__text">Dark chocolate</p>
                <button data-open-modal class="products-swiper__btn">
                    66 UAH
                </button></swiper-slide
            >
            <swiper-slide class="products-swiper__slide"
                ><img
                    class="products-swiper__photo"
                    src="images/desktop/pr-pineapple@1x.png"
                    alt="pineapple"
                />
                <h3 class="products-swiper__title">pineapple</h3>
                <p class="products-swiper__text">Dark chocolate</p>
                <button data-open-modal class="products-swiper__btn">
                    54 UAH
                </button></swiper-slide
            >
            <swiper-slide class="products-swiper__slide"
                ><img
                    class="products-swiper__photo"
                    src="images/desktop/pr-milk@1x.png"
                    alt="milk"
                />
                <h3 class="products-swiper__title">classic</h3>
                <p class="products-swiper__text">Milk chocolate</p>
                <button data-open-modal class="products-swiper__btn">
                    45 UAH
                </button></swiper-slide
            >
            <swiper-slide class="products-swiper__slide"
                ><img
                    class="products-swiper__photo"
                    src="images/desktop/pr-honey@1x.png"
                    alt="honey"
                />
                <h3 class="products-swiper__title">honey</h3>
                <p class="products-swiper__text">Milk chocolate</p>
                <button data-open-modal class="products-swiper__btn">
                    50 UAH
                </button></swiper-slide
            >
            <swiper-slide class="products-swiper__slide"
                ><img
                    class="products-swiper__photo"
                    src="images/desktop/pr-fruits@1x.png"
                    alt="fruits"
                />
                <h3 class="products-swiper__title">roasted fruits</h3>
                <p class="products-swiper__text">Dark chocolate</p>
                <button data-open-modal class="products-swiper__btn">
                    66 UAH
                </button></swiper-slide
            >
            <swiper-slide class="products-swiper__slide"
                ><img
                    class="products-swiper__photo"
                    src="images/desktop/white@1x.png"
                    alt="white"
                />
                <h3 class="products-swiper__title">classic</h3>
                <p class="products-swiper__text">White chocolate</p>
                <button data-open-modal class="products-swiper__btn">
                    54 UAH
                </button></swiper-slide
            >
        </swiper-container>
    </div>
</section>
