<div data-reviews-modal class="reviews-modal is-hidden">
            <img
                class="reviews-modal__photo"
                src="images/desktop/reviews-modal-bg.png"
                alt="chocolate"
            />
            <button data-close-reviews-modal class="reviews-modal__btn">
                <svg width="28" height="28" class="reviews-modal__icon">
                    <use href="images/symbol-defs.svg#cross"></use>
                </svg>
            </button>
            <h3 class="reviews-modal__title">thank you for your feedback!</h3>
            <p class="reviews-modal__text">We are so happy to hear from you!</p>
        </div>