<div data-reviews-form class="reviews-form is-hidden">
            <button
                data-close-reviews-form
                type="button"
                class="reviews-form__close"
            >
                <svg
                    class="reviews-form__icon"
                    width="23"
                    height="23"
                >
                    <use href="images/symbol-defs.svg#cross"></use>
                </svg>
            </button>
            <h3 class="reviews-form__title">
                LEAVE A REVIEW ABOUT
                <span class="reviews-form__span">OUR CHOCOLATE</span>
            </h3>
            <ul class="form-list">
                <li class="form-list__item">
                    <input
                        class="form-list__filling"
                        placeholder="Name"
                        type="text"
                    />
                </li>
                <li class="form-list__item">
                    <input
                        class="form-list__filling"
                        placeholder="Email"
                        type="text"
                    />
                </li>
                <li class="form-list__item">
                    <svg class="form-list__flag" width="32" height="30">
                        <use href="./images/symbol-defs.svg#flag"></use>
                    </svg>
                    <p class="form-list__text">+380</p>
                    <input
                        class="form-list__filling form-list__number"
                        placeholder="Phone number"
                        type="text"
                    />
                </li>
                <li class="form-list__item">
                    <input
                        class="form-list__filling form-list__comments"
                        placeholder="Enter text"
                        type="text"
                    />
                </li>
            </ul>
            <button type="button"
                data-close-reviews-form
                data-open-reviews-modal
                class="reviews-form__btn"
            >
                Send
            </button>
        </div>
        
