<div class="top-seller">
    <p class="title"><span class="orange">Top</span> Sellers</p>
    <div class="img-container">
        <img
            src="./images/desktop/seller-1@1x.png"
            alt="top seller chocolate"
        />
        <img
            src="./images/desktop/seller-2@1x.png"
            alt="top seller chocolate"
        />
        <img src="./images/desktop/seller-3.png" alt="top seller chocolate" />
    </div>
    <div class="text-btn-container">
        <p>
            Crazy enough chocolate originates from a bean just like the coffee
            bean called Cacao. Cacao has been around for thousands of years and
            was first discovered by the Native American tribe called the Mayans.
        </p>
        <button>Buy now</button>
    </div>
</div>
