<section class="top-seller">
    <div class="container">
        <p class="title"><span class="orange">Top</span> Sellers</p>
        <ul class="img-container">
            <li>
                <img
                    src="./images/desktop/seller-1@1x.png"
                    alt="top seller chocolate"
                />
                <p class="img-container__text">
                    Crazy enough chocolate originates from a bean just like the
                    coffee bean called Cacao. Cacao has been around for
                    thousands of years and was first discovered by the Native
                    American tribe called the Mayans.
                </p>
            </li>
            <li>
                <img
                    src="./images/desktop/seller-2@1x.png"
                    alt="top seller chocolate"
                />
            </li>
            <li>
                <img
                    src="./images/desktop/seller-3.png"
                    alt="top seller chocolate"
                />
            </li>
        </ul>
        <div class="text-btn-container">
            <p>
                Crazy enough chocolate originates from a bean just like the
                coffee bean called Cacao. Cacao has been around for thousands of
                years and was first discovered by the Native American tribe
                called the Mayans.
            </p>
            <button class="action-button" data-open-buy-modal>Buy now</button>
        </div>
    </div>
</section>
